{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block page_title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/uikit.min.css'%}">
    <script src="{% static 'js/uikit.min.js' %}"></script>
    <script src="{% static 'js/uikit-icons.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"

</head>
<body>

<div class="uk-flex uk-flex-column">
    <div class="uk-grid-small uk-flex uk-flex-center side-bar uk-padding-small" uk-grid>
        {% include 'menu_button.html' with url_name='start_url' icon='home' name='Start' %}
        {% include 'menu_button.html' with url_name='settings_url' icon='settings' name='Konto allegro' %}
{#        {% include 'menu_button.html' with url_name='linked_account_url' icon='git-branch' name='Powiąż konta' %}#}
        {% include 'menu_button.html' with url_name='auction_url' icon='list' name='Twoje aukcje' %}
        {% include 'menu_button.html' with url_name='login' icon='sign-in' name='Zaloguj' %}


</div>




    <div class="uk-width-expand uk-margin-small">
        <div class="uk-container">
<nav class="uk-navbar-container">
    <div class="uk-container">
        <div uk-navbar>

            <div class="uk-navbar-left">
                <span uk-icon="users"></span>

                    {% if user.is_authenticated %}
                        <ul class="uk-navbar-nav">
                            <li class="uk-navbar-item">
                                {{ user.get_username|upper }}
                            </li>
{#                            {% if user.is_superuser %}#}
{#                                <a href="{% url 'add_movie_url' %}">#}
{#                                    Dodaj film#}
{#                                </a>#}
{#                            	#}
{#                            {% endif %} #}
                        </ul>

                    {% endif %}

            </div>

            <div class="uk-navbar-right">
                 <ul class="uk-navbar-nav">
                      {% if user.is_authenticated %}
                               	  <li class="uk-navbar-item">
                                        <form method="POST" action="{% url 'logout' %}">
                                            {% csrf_token %}
                                            <button class="uk-button uk-button-default">
                                                Wyloguj
                                            </button>

                                        </form>
                                  </li>
                               {% endif %}

                          
                        </ul>



            </div>

        </div>
    </div>
</nav>


        {% block page_content %}




    {% endblock %}
    </div>
    </div>
</div>



</body>
</html>